/*fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #101010;
}

.logo {
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  border: none;
}
/*TAMAÑAO PARA LA IMAGENES DEFAULT DE LA PRIMERA PREENTREGA*/
.tamaño-imagenes-pe {
  height: 30rem;
  width: 20rem;
}

/*Titulos y subtitulos del sistema*/
.titulo {
  font-size: x-large;
  text-transform: uppercase;
  padding: 0.5rem;
  font-family: "Roboto", sans-serif;
}

.subtitulo {
  font-size: large;
  text-transform: uppercase;
  padding: 0.3rem;
  font-family: "Roboto", sans-serif;
}

.subtitulo2 {
  font-size: medium;
  color: gray;
  font-family: "Roboto", sans-serif;
}
/*---------------------------------*/

/*Botones del sistema--------------*/
.btn {
  background-color: #4842ff;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #ff0093;
}
/*---------------------------------*/

/*Menu - Header*/
.menu {
  background-color: #101010 !important;
  padding: 0.5rem 1.5rem !important;
  border-bottom: 0.2rem solid transparent !important;
  border-image: linear-gradient(0.25turn, #fff, #ff0093, #000) !important;
  border-image-slice: 1 !important;
  width: 100% !important;
}

.menu a {
  color: #fff;
  text-transform: uppercase !important;
  transition: color 0.25s !important;
}

.menu a.active {
  color: #ff0085 !important;
}

.menu a:hover {
  color: #ff0093 !important;
}
.menu .menu-logo {
  width: 3rem;
  height: 3rem;
}

.menu .icono-login {
  font-size: x-large;
  text-align: center;
  margin-left: 0.5rem;
}

.drop ul li a {
  color: #000 !important;
}

/*-----------------------*/
/*slider-----------------*/

.d-item {
  height: 45rem;
}

.d-img {
  height: 100% !important;
  width: 100% !important;
}

.d-indicators button {
  background-color: #ff0085 !important;
}
/*-----------------------*/

/*----cartelera----------*/
.cart-card {
  width: 18rem;
  border: none;
  background-color: #101010;
  border-radius: 50%;
  transition: border-radius 0.5s ease-in-out;
}
.cart-card:hover {
  color: #ff00954f;
  border: solid;
  border-radius: 0%;
}
.cart-card img {
  padding-top: 0.5rem;
  border-top-left-radius: 3.5%;
  border-top-right-radius: 3.5%;
}
.cart-card a {
  text-decoration: none;
}

.cart-title {
  border-bottom: 0.1rem solid;
  border-color: #ff0093;
}

.cart-title-movie {
  background-color: #4842ff !important;
  padding: 0.25rem 1rem;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
/*-----------------------*/

/*footer-----------------*/

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: #fff;
  padding: 0.8rem;
  border-top: 0.2rem solid transparent;
  border-image: linear-gradient(0.25turn, #fff, #ff0093, #000);
  border-image-slice: 1;
  margin: 0rem 1rem;
  align-items: center;
}
.footer-redes {
  justify-self: end;
}
.footer-logo {
  justify-self: center;
}

.footer-logo img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.75rem;
}

.footer-redes a {
  font-size: x-large;
  color: #fff;
  text-decoration: none;
  padding: 0 0.25rem;
  transition: filter 0.25s;
}

.footer-redes a:hover {
  filter: brightness(75%);
}

.footer-copy p::before {
  content: "© 2023 Cineapolis, Tomás Zappalá \a Página sin fines de lucro ni comerciales";
  white-space: pre;
}

@media (max-width: 768px) {
  .footer {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);

    .footer-copy,
    .footer-logo,
    .footer-redes {
      justify-self: center;
      margin-top: 1rem;
    }
    .footer-redes a {
      padding: 0 1.25rem;
    }
    .footer-copy {
      text-align: center;
    }
    .footer-copy p::before {
      content: "© 2023 Cineapolis, Tomás Zappalá";
    }
  }
}
/*-----------------------*/

/*peliculas cartelera inicio*/
.peliculas-inicio-container {
  background-color: #101010;
  color: #fff;
}
.peliculas-inicio-titulo {
  margin-left: 5rem;
}
/*--------------------------*/

/*Proximos estrenos------*/
.proximos-estrenos-container {
  background-color: #101010;
  color: #fff;
  padding: 1rem;
  text-align: center;
}
.proximos-estrenos {
  padding: 1rem;
}

.proximos-estrenos-iten img {
  border-radius: 0.5rem;
}
/*-----------------------*/

/*Newsletter-------------*/
.newsletter-container {
  background-color: #101010;
  color: #fff;
  padding: 1.5rem;
}
.newsletter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(47, 47, 47);
  height: 7.5rem;
  width: 100%;
}

.newsletter-titulo {
  font-size: xx-large;
  font-family: 'Montserrat', sans-serif;
  margin: 0rem 0rem 3rem 2rem;
  text-decoration: underline;
  font-weight: bold;
  opacity: 85%;
}

.newsletter-subtitulo {
  font-size: x-large;
  font-family: monospace;
  margin: 3rem 2rem 0rem 0rem;
  font-style: italic;
  text-align: center;
}

.newsletter-item {
  display: flex;
  width: 40%;
  margin: 0rem 3rem;
}

.newsletter-btn {
  width: 35%;
  border-top-right-radius: 2.5%;
  border-bottom-right-radius: 2.5%;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
}

.newsletter-imput {
  width: 65%;
  padding: .5rem;
}

.item {
  height: 2.5rem;
  border: none;
}

@media (max-width: 768px){
  .newsletter {
    flex-direction: column;
  }
  .newsletter h3{
    display: none;
  }
  .newsletter .newsletter-item{
    padding: 0;
    margin: 0 0 1.5rem 0;
  }
  .newsletter h1{
    padding: 0;
    margin: 1rem 0 0 0;
    font-size: x-large;
  }
  .newsletter-item .newsletter-btn{
    font-size: medium;
    width: 55%;
  }
}
@media (min-width: 769px) and (max-width: 1200px){
  .newsletter {
    flex-direction: column;
  }
  .newsletter h3{
    display: none;
  }
  .newsletter .newsletter-item{
    padding: 0;
    margin: 0 0 1.5rem 0;
  }
  .newsletter h1{
    padding: 0;
    margin: 1rem 0 0 0;
    font-size: x-large;
  }
  .newsletter-item .newsletter-btn{
    font-size: large;
    width: 45%;
  }
}

/*-----------------------*/
/*Pelicula---------------*/
.pelicula-container {
  background-color: #101010;
  color: #fff;
}
.pelicula-titulo {
  text-align: center;
  padding: 1rem 0 0 0;
}
.pelicula {
  padding: 1rem;
  width: 20rem;
}
.pelicula-sinopsis {
  padding: 1rem 1rem;
}

.pelicula-fechas-disponibles {
  padding: 1rem;
}

.pelicula-trailer {
  margin-left: 70%;
  padding: 1rem 0 0.5rem 0;
}
.pelicula-trailer h2 {
  text-align: center;
  padding-bottom: 0.5rem;
}
/*-----------------------*/
/*Cartelera--------------*/
.cartelera-container {
  background-color: #101010;
  color: #fff;
}
.cartelera {
  padding: 0.25rem 2rem;
  width: 12.5rem;
}
.cartelera-nombre {
  background-color: #4842ff;
  color: #fff;
  padding: 0.25rem 0 0.25rem 0.5rem;
  text-decoration: none;
}
/*-----------------------*/
/*Promo cartelera--------*/
.promo{
  background-color: #000000;
  color: #fff;
  padding: 3rem !important;
  height: 22rem !important;
  border-top: solid;
  border-color: #4842ff;
  margin: 2rem;
}

.promo img{
  height: 15rem !important;
  width: 15rem !important;
}

.promo li {
  list-style: none;
  padding: 0.25rem 0 0 0.25rem;
}


/*-----------------------*/
/*Estrenos---------------*/
.estrenos-peliulas-container {
  background-color: #101010;
  color: #fff;
}

.estrenos-peliculas-iten {
  padding: 1rem;
  width: 25rem;
}

.estrenos-peliculas-iten p {
  padding: 2rem 0 1rem 0;
}

.estrenos-peliculas-iten a {
  color: #ff0093;
  text-decoration: none;
}
.estrenos-peliculas-iten h2 {
  color: #ff0093;
}
/*-----------------------*/
/*Formularios login y registro*/
.formulario-login-container {
  background-color: #101010;
  color: #fff;
}
.formulario-login {
  text-align: center;
}
.formulario-login-campo {
  padding-bottom: 0.5rem;
}
.formulario-login-botones {
  padding: 0.3rem;
}

.formulario-login-botones-registro {
  text-decoration: none;
  color: #ff0093;
}

.formulario-registro-container {
  background-color: #101010;
  color: #fff;
}
.formulario-registro {
  text-align: center;
}

.formulario-registro-campo {
  padding-bottom: 0.5rem;
}
.formulario-registro-botones {
  padding: 0.3rem;
}
.formulario-registro-botones-login {
  text-decoration: none;
  color: #ff0093;
}
