/*declaracion de variables*/
$bgColor: #101010;
$primaryColor: #CE1793;
$seccondaryColor: #8732CD;
$titleFont:  upperase large, "Roboto", sans-serif;
$subtitleFont: uppercase medium, "Roboto", sans-serif;
$p-default: 0.5rem;