/*declaracion de variables*/
$bgColor: #101010 !important;
$primaryColor: #CE1793 !important;
$seccondaryColor: #8732CD !important;
$titleFont:  upperase large, "Roboto", sans-serif !important;
$subtitleFont: uppercase medium, "Roboto", sans-serif !important;
$borderDegrade: linear-gradient(0.25turn, #fff, #ff0093, #000) !important;
$p-default: 0.5rem !important;