.btn-system {
    background-color: $seccondaryColor;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: opacity 0.75s;

    &:hover {             
        opacity: 70%;
        box-shadow: 0 0.2rem 1rem 0.2rem #101010; 
    }
}